html {
  min-width: 480px;
}
body {
  margin-bottom: 50px;
}
.banner-divider {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.buffer-left {
  margin-left: 10px;
}
.banner-giant {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
}
.banner-giant-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-small {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_4.jpg);
  background-size: cover;
  width: 100%;
  height: 48px;
  margin-top: 45px;
}
.banner-giant-purple {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_5.jpg);
}
.banner-giant-purple-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-purple-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-purple-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-purple-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-giant-green {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_2.jpg);
}
.banner-giant-green-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-green-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-green-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-green-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-giant-green {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_2.jpg);
}
.banner-giant-green-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-green-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-green-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-green-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-giant-turquoise {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_7.jpg);
}
.banner-giant-turquoise-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-turquoise-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-turquoise-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-turquoise-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-giant-orangestripe {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_8.jpg);
}
.banner-giant-orangestripe-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-orangestripe-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-orangestripe-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-orangestripe-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.banner-giant-orangeblend {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/clean_cover_6.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 45px;
  background-image: url(../img/clean_cover_9.jpg);
}
.banner-giant-orangeblend-container {
  height: 300px;
  width: 480px;
  margin: 0 auto;
}
.banner-giant-orangeblend-text {
  height: 300px;
  width: 480px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner-giant-orangeblend-divider-bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
}
.banner-giant-orangeblend-divider-top {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.octocat-icecream {
  width: 200px;
  height: 200px;
  background-image: url(../img/ice_cream_octo.png);
  background-size: 100% 100%;
  float: right;
  margin-left: 25px;
}
.mt-plus {
  margin-top: 16px;
}
textarea.form-control {
  height: 128px;
}
