{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static "frontend/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="http://bootswatch.com/sandstone/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{% static "frontend/css/main.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "blog/css/main.css" %}" />
		<script type="text/javascript" src="{% static "frontend/bower_components/jquery/dist/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "frontend/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	</head>
	<body>
  		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
	  			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'frontend.views.index' %}">Saul Johnson</a>
			    </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'frontend.views.index' %}">About</a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Web <span class="caret"></span></a>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="{% url 'frontend.views.me_and_the_web' %}">Me and the Web</a></li>
						    <li class="divider"></li>
						    <li class="dropdown-header">Serious projects</li>
						    <li><a href="{% url 'frontend.views.flatfolio' %}">Flatfolio</a></li>
						    <li class="divider"></li>
						    <li class="dropdown-header">Pointless projects</li>
						    <li><a href="{% url 'frontend.views.brainfony' %}">Brainfony</a></li>
						  </ul>
						</li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desktop <span class="caret"></span></a>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="{% url 'frontend.views.me_and_the_desktop' %}">Me and the Desktop</a></li>
						    <li class="divider"></li>
						    <li class="dropdown-header">.NET</li>
						    <li><a href="{% url 'frontend.views.silence' %}">Silence</a></li>
						    <li><a href="{% url 'frontend.views.veryrss' %}">VeryRSS</a></li>
						    <li class="divider"></li>
						    <li class="dropdown-header">Java</li>
						    <li><a href="{% url 'frontend.views.denobo' %}">Denobo</a></li>
						  </ul>
						</li>
						<li><a href="{% url 'frontend.views.contact' %}">Contact</a></li>
						<li><a href="{% url 'blog.views.index' %}">Blog</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{#<li><a href="#">Link</a></li>#}
					</ul>
				</div>
			</div>
		</nav>
		{% block banner %}
		{% endblock %}
		<div class="container">
			{% block content %}
			{% endblock %}
			<div class="row">
				<div class="col-md-12">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h4>Tools</h4>
					<ul>
						<li><a target="_blank" href="http://blogs.telegraph.co.uk/technology/willardfoxton2/100011290/the-government-wants-to-teach-all-children-how-to-code-heres-why-its-a-stupid-idea/">This guy</a></li>
						<li><a href="{% url 'frontend.views.terms' %}">Terms of Use (Boring)</a></li>
						<li><a href="{% url 'frontend.views.privacy' %}">Privacy Policy (Also Boring)</a></li>
						<li><a href="{% url 'frontend.views.login' %}">Admin Login (Mine)</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>Contact Me</h4>
					<ul>
						<li>Any complaints, questions or compliments are very welcome. To send them to me, please fill out the form on my <a href="{% url 'frontend.views.contact' %}">contact page</a>.</li>
						<li>Spam and flame is also welcome via <a href="http://bit.ly/1c9vo1S">this alternative contact page</a>.</li>
					</ul>
				</div>
				<div class="col-md-5 buffer-bottom">
					<h4>Communities</h4>
					<a target="_blank" href="{% url 'frontend.views.linkedin' %}"><img src="{% static "frontend/img/linkedin.svg" %}" /></a>
					<img class="buffer-left" src="{% static "frontend/img/twitter.svg" %}" />
					<img class="buffer-left" src="{% static "frontend/img/github.svg" %}" />
				</div>
			</div>
		</div>
	</body>
</html>
