{% extends "blog/base.html" %}

{% load staticfiles %}

{% block banner %}
<div class="banner-giant-music">
  <div class="banner-giant-container">
    <div class="banner-giant-text">
      <img src="{% static "blog/img/c_flat.svg" %}" />
      <h3>Off-key programming at its least tuneful.</h3>
      <p>
        When fate plays the trumpet not very well, a coder like me is born.
      </p>
      <a class="btn btn-default" href="{% url 'frontend.views.silence' %}">Subscribe</a>
      <a class="btn btn-warning" target="_blank" href="https://github.com/SaulJohnson/Silence">Subscribe</a>
    </div>
  </div>
  <div class="banner-giant-divider-top"></div>
  <div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    YOOOOO
  </div>
</div>
{% endblock %}
