{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}Denobo{% endblock %}

{% block banner %}
<div class="banner-giant-orangestripe">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "frontend/img/denobo.svg" %}" />
			<h3>Build a multi-agent network in one step.</h3>
			<p>
				Multi-agent middleware for the Java platform.
			</p>
			<a class="btn btn-default">Download</a>
			<a class="btn btn-primary">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Denobo</h1>
	</div>
</div>
{% endblock %}
