{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}Flatfolio{% endblock %}

{% block banner %}
<div class="banner-giant-turquoise">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "frontend/img/flatfolio.svg" %}" />
			<h3>You don't need to database.</h3>
			<p>
				Showcase your art sans the SQL.
			</p>
			<a class="btn btn-default" href="https://github.com/SaulJohnson/flatfolio/archive/master.zip">Download</a>
			<a class="btn btn-primary" target="_blank" href="https://github.com/SaulJohnson/flatfolio">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Flatfolio</h1>
		<p>
			One of my gripes with most PHP portfolios is that they either use SQL databases where I don't think they're
			strictly necessary. If you want art students to have an easy time using your portfolio framework (assuming they're
			not also developers of course) then why not give them something fast, fluid and filesystem-based?
		</p>
		<p>
			This is nothing next-generation, but it will show off albums full of artwork with no problem at all, and without a single
			line of SQL needed to do it.
		</p>
		<h2>Demo</h2>
		<p>
			I wish I had a demo to show you. One will be up here as soon as I get around to it.
		</p>
		<h2>Get it!</h2>
		<p>
			It's on my <a target="_blank" href="https://github.com/SaulJohnson/flatfolio">GitHub</a> if you'd like to contribute or
			use it for yourself, but it is far from finished. I began this project as I was moving between jobs and houses. Please don't
			hate me.
		</p>
	</div>
</div>
{% endblock %}
