{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block banner %}
<div class="banner-giant">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "img/silence.svg" %}" />
			<h3>Sometimes your PC doesn't need you.</h3>
			<p>
				Let it operate without you in perfect silence.
			</p>
			<a class="btn btn-success">What?</a>
			<a class="btn btn-primary">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Contact</h1>
	</div>
</div>
{% endblock %}