{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}Me and the Web{% endblock %}

{% block banner %}
<div class="banner-small">
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Me and the Web</h1>
		<p>
			You know how it goes. You're 12 years old and start dabbling about in HTML. You want to make things more interesting
			so you pick up a bit of JavaScript and before you know it you're 21 years old and developing for the web as a career.
		</p>
		<h2>What did you develop this site in?</h2>
		<p>
			This is a question I get a whole lot for one reason or another, so I'll go right ahead and answer it on this page in the
			form of a cute little mini-article.
		</p>
		<h3>CoffeeScript</h3>
		<img src="{% static "frontend/img/coffee.png" %}" style="float:right;margin-left:10px;margin-bottom:10px;"/>
		<p>
			Opinion seems polarised on the transcompiles-to-JavaScript languages, but I for one love CoffeeScript and the way it
			gets ride of that "Oh boy I wonder how I'm going to get my prototypes in a mess this time?" feeling I get every time
			I get ready to write some vanilla JS. I first picked up this lovely little language during my internship and I've never
			looked back. If you haven't already, I highly recommend <a href="http://coffeescript.org/" target="_blank">taking a peek at the project</a>.
		</p>
		<p>
			That being said, there are times when CoffeeScript's whitesapce-sensitive nature and minimalist syntax make me long
			for the warm embrace of JavaScript's curly braces and parenteses once again. I love CoffeeScript, but I can certainly
			enjoy writing some native JS as well.
		</p>
		<h3>Less</h3>
		<img src="{% static "frontend/img/less.png" %}" style="float:right;margin-left:10px;margin-bottom:10px;"/>
		<p>
			A designer I worked with once told me "Nobody in the industry writes plain CSS anymore."
			and I must say my own experience has yet to convince me otherwise. Sites these days get <i>complicated</i> and styling all
			those HTML elements maintainably without repeating yourself a thousand times gets so much easier when you break out a
			preprocessor like Less or Sass to allow you to be a bit more succinct with your stylesheets.
		</p>
		<p>
			Sass has quite a lot on Less when it comes to feature-richness, but ultimately I chose it for being lightweight and simple
			to use for a non-designer type like myself. The <a target="_blank" href="http://lesscss.org/">Less</a> and
			<a target="_blank" href="http://sass-lang.com/">Sass</a> projects are well worth a glance over if you don't use them already.
		</p>
		<h3>Django</h3>
		<img src="{% static "frontend/img/django.png" %}" style="float:right;margin-left:10px;margin-bottom:10px;"/>
		<p>
			Python is one of those languages I've wanted to learn for a long time but never got round to taking a good look at for
			one reason or another. I love web development so using Django (which I'd heard spoken of very highly before by various people)
			seemed like the logical choice to get into it. I must say I'm loving it, <a href="https://www.djangoproject.com/" target="_blank">check out the project</a>
			if you're interested.
		</p>
		<p>
			Anyone who knows me knows that I'm a sucker for clean syntax, and Python certainly indulges that. I find writing Python to
			be expressive and comfortable, the only minor gripe I've had so far is that it won't let me use my favourite ternary operator
			syntax (?:) and I'm not even that mad about it.
		</p>
		<h2>This Site is 100% Open</h2>
		<p>
			That's right, this website is all open and <a href="https://github.com/SaulJohnson/sauljohnson">hosted on GitHub</a> for
			your browsing/cloning/forking/using pleasure. If you want to base your website on it for whatever reason I'll squeal with
			delight and clap my hands at having brought something to your day. Just please don't laugh at my Python code. I'm still shy about it.
		</p>
	</div>
</div>
{% endblock %}
