{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block banner %}
<div class="banner-small">
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Me and the Web</h1>
		<p>
			You know how it goes. You're 12 years old and start dabbling about in HTML. You want to make things more interesting so you pick up a bit of JavaScript and before you know it
			you're 21 years old and developing for the web as a career. 
		</p>
		<h3>What did you develop this site in?</h3>
		<p>
			This is a question I get a whole lot for one reason or another, so I'll go right ahead and answer it. on this page.
		</p>
	</div>
</div>
{% endblock %}