{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}Silence{% endblock %}

{% block banner %}
<div class="banner-giant-purple">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "frontend/img/silence.svg" %}" />
			<h3>For when your PC doesn't need you.</h3>
			<p>
				A simple, clean keyboard and mouse recorder in C#.
			</p>
			<a class="btn btn-default" href="https://github.com/SaulJohnson/Silence/archive/master.zip">Download</a>
			<a class="btn btn-primary" target="_blank" href="https://github.com/SaulJohnson/Silence">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Silence</h1>
		<p>
			Recently, I had a database with a few hundred usernames that I needed to migrate to a new server. Sounds simple enough, right? Well, needless to say there was
			quite a substantial catch...
		</p>
		<p>
			The only access I had to this data was through a webpage that was marked up inconsistently (making text-based parsing a chore) and I needed to get something together
			quite quickly. My first thought was a keyboard and mouse recorder that would record me copying one set of user details from the webpage into the database and then replay
			that action a few hundred times overnight. So out I went in search of a free tool I could use to accomplish this.
		</p>
		<p>
			When I found nothing suitable or compatible that I didn't need to pay for, I opened up Visual Studio and put together Silence, a clean and simple keyboard and mouse
			recorder written in C# that lets your PC perform mouse and keyboard actions without you at the desk. In <i>silence</i>.
		</p>
		<h2>Get it!</h2>
		<p>
			This is easily one of the most useful programs I've ever put together, and although it isn't finished yet, it is up on my
			<a target="_blank" href="https://github.com/SaulJohnson/Silence">GitHub</a> if you feel like downloading and building it to automate your simpler repetitive computing tasks.
			Heck, if you end up adding a useful feature or something then submit a pull request!
		</p>
	</div>
</div>
{% endblock %}
