{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}VeryRSS{% endblock %}

{% block banner %}
<div class="banner-giant-orangeblend">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "frontend/img/veryrss.svg" %}" />
			<h3>Super-minimal RSS implementation in C#</h3>
			<p>
				Absent-mindedly implemented, imperfectly crafted.
			</p>
			<a class="btn btn-default" href="https://github.com/SaulJohnson/VeryRSS/archive/master.zip">Download</a>
			<a class="btn btn-primary" target="_blank" href="https://github.com/SaulJohnson/VeryRSS">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>VeryRSS</h1>
		<p>
			Lorem.
		</p>
	</div>
</div>
{% endblock %}
