{% extends "frontend/base.html" %}

{% load staticfiles %}

{% block title %}VeryRSS{% endblock %}

{% block banner %}
<div class="banner-giant-orangeblend">
	<div class="banner-giant-container">
		<div class="banner-giant-text">
			<img src="{% static "frontend/img/veryrss.svg" %}" />
			<h3>Super-minimal RSS implementation in C#</h3>
			<p>
				Absent-mindedly implemented, imperfectly crafted.
			</p>
			<a class="btn btn-default" href="https://github.com/SaulJohnson/VeryRSS/archive/master.zip">Download</a>
			<a class="btn btn-primary" target="_blank" href="https://github.com/SaulJohnson/VeryRSS">GitHub</a>
		</div>
	</div>
	<div class="banner-giant-divider-top"></div>
	<div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>VeryRSS</h1>
		<p>
			Written to power my very old blog (which was written in ASP.NET C#) VeryRSS was intended to accompany
			another couple of libraries on a project that never happened. Essentially just a collection of .NET classes
			clumsily and hastily implemented, this thing will do the job of allowing you to create and post to an
			RSS 2.0 feed.
		</p>
		<h2>Get it!</h2>
		<p>
			Like always, if you want it it's <a target="_blank" href="https://github.com/SaulJohnson/VeryRSS">on my GitHub</a>.
			Maybe I'll start those companion projects one day, maybe I won't. Depends how relevant RSS is to the web of tomorrow.
		</p>
	</div>
</div>
{% endblock %}
